*.zip filter=lfs diff=lfs merge=lfs -text
**.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/.pt filter=lfs diff=lfbest_unets merge=lfs -text
checkpoints/mild75/best_unet.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/best_tsr_wgan.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/
data/raw/UCMerced_LandUse.zip filter=lfs diff=lfs merge=lfs -text
